<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stick With Me: Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
</head>
<style>
    a{
        margin-top: 250px !important;
        margin: 50px;
    }
</style>
<body>
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-narrow">
                    <div class="buttons is-centered">
                        <a href="/stream" class="button is-info is-large">Stream</a>
                        <a href="/watch" class="button is-link is-large">Watch</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>