<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stick With Me - Viewer</title>
</head>
<body>
    <h1>Watching Stream</h1>
    <video autoplay muted></video>
    <button id="startButton">Start Stream</button>

    <div id="sticker-selection-container">
        <img src="/stickers/Star Sticker.gif" alt="star sticker">
        <img src="/stickers/Heart Sticker.gif" alt="heart sticker">
        <img src="/stickers/Sad Cloud Sticker.gif" alt="sad cloud sticker">
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/watch.js"></script>
</body>
</html>